# Tablet-App Upload Konfiguration
# Kopiere diese Datei zu .env und fülle die Werte aus

SMB_SERVER=100.124.168.108
SMB_SHARE=Werkstatt-Upload
SMB_USER=werkstatt
SMB_PASSWORD=DeinPasswortHier

BACKEND_URL=http://192.168.0.57:3001
